.buttons-group {
  display: flex;
  column-gap: 8px;
}

.buttons-group__btn.swiper-button-prev,
.buttons-group__btn.swiper-button-next {
  display: flex;
  margin-top: 0;
  padding: 0;
  width: 22px;
  height: 22px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: $color-transparent;

  &::before {
    @include icons-mask($color-base-secondary, url("/__spritemap#sprite-arrow-slider-view"));

    content: "";
    display: block;
    width: 10px;
    height: 10px;
  }

  &::after {
    content: none;
  }
}

.buttons-group__btn {
  transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;

  @media (hover: hover) {
    &:hover {
      opacity: 0.7;
    }
  }

  &:focus-visible {
    outline: none;
    background-color: $color-white;
  }

  &:active {
    background-color: $color-white;
    opacity: 0.7;
  }

  &:disabled &::before {
    background-color: $color-disabled;
  }
}

.buttons-group__btn.swiper-button-prev {
  &::before {
    transform: rotate(-180deg);
  }
}
