.contact-form {
  border-radius: 16px;
}

.contact-form__input-wrap {
  @include flex-column(flex-start);

  margin-bottom: 20px;

  @media (min-width: $vp-desktop) {
    margin-bottom: 19px;
  }

  label {
    display: block;
    margin-bottom: 12px;
    font-size: 12px;
    line-height: 14px;

    @media (min-width: $vp-tablet) {
      margin-bottom: 13px;
      font-size: 14px;
      line-height: 18px;
    }
  }

  input,
  textarea {
    padding: 14.5px 20px;
    width: 100%;
    font-family: $ff-primary;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    border-radius: 8px;
    color: $color-bg-primary;
    background-color: $color-transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    resize: none;
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;

    @media (hover: hover) {
      &:hover {
        border-color: $color-white;
      }
    }

    &:active,
    &:focus-visible {
      outline: none;
      border-color: $color-white;
    }

    &:disabled {
      border-color: rgba(255, 255, 255, 0.4);
      background-color: rgba(255, 255, 255, 0.2);
      pointer-events: none;
    }
  }

  textarea {
    height: 94px;

    @media (min-width: $vp-tablet) {
      height: 90px;
    }
  }
}

.contact-form__input-wrap.contact-form__input-wrap--error {
  input,
  textarea {
    border-color: $color-error;
    background-color: rgba(255, 94, 102, 0.2);
  }

  .contact-form__select {
    border-color: $color-error;
    background-color: rgba(255, 94, 102, 0.2);
  }
}

.contact-form__select-wrap {
  width: 260px;

  @media (min-width: $vp-tablet) {
    width: 100%;
  }

  label {
    @media (min-width: $vp-desktop) {
      margin-bottom: 10px;
    }
  }
}

.contact-form__agreement {
  @media (min-width: $vp-tablet) {
    margin-bottom: 40px;
  }

  label {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin: 0;
    font-size: 12px;
    line-height: 14px;
    cursor: pointer;
  }

  br {
    @media (min-width: $vp-tablet) {
      display: none;
    }
  }

  input {
    position: relative;
    appearance: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    background-color: $color-white;
    border: 1px solid $color-white;
    border-radius: 2px;
    cursor: pointer;
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;

    @media (hover: hover) {
      &:hover {
        border-color: $color-base-secondary;
      }
    }

    &:active,
    &:focus-visible {
      outline: none;
      border-color: $color-base-secondary;
    }

    &:disabled {
      border-color: $color-white;
      background-color: rgba(255, 255, 255, 0.6);
      pointer-events: none;
    }
  }

  input:checked::before {
    @include icons-mask($color-base-secondary, url("/__spritemap#sprite-check-view"));

    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    mask-size: 10px;
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }

  input:checked {
    @media (hover: hover) {
      &:hover {
        background-color: $color-base-secondary;
        border-color: $color-white;
      }

      &:hover::before {
        background-color: $color-white;
      }
    }

    &:focus-visible {
      background-color: $color-base-secondary;
      border-color: $color-white;
    }

    &:focus-visible::before {
      background-color: $color-white;
    }

    &:disabled {
      background-color: $color-disabled;
      border-color: $color-disabled;
      pointer-events: none;
    }

    &:disabled::before {
      opacity: 0.7;
    }
  }
}
