.faq {
  padding: 50px 0;

  @media (min-width: $vp-desktop) {
    padding: 71px 0 60px;
  }
}

.faq__title {
  margin-bottom: 30px;
  text-align: center;

  @media (min-width: $vp-tablet) {
    margin-bottom: 40px;
  }

  @media (min-width: $vp-desktop) {
    margin-bottom: 71px;
  }
}
