header {
  display: grid;
  grid-template-columns: 100%;
  align-items: start;
}

.header__nav {
  position: relative;
  z-index: 10;
  grid-column: 1;
  grid-row: 1;
  padding: 20px 0;

  @media (min-width: $vp-tablet) {
    padding: 30px 0;
  }
}

.header__hero {
  grid-column: 1;
  grid-row: 1;
}
