.news-swiper.swiper {
  .news-swiper__btn {
    position: static;
  }

  .news-swiper__pagination {
    position: static;
    display: flex;
    align-items: center;
    gap: 16px;
    width: max-content;
    max-width: 90%;

    @media (min-width: $vp-tablet) {
      gap: 20px;
    }
  }

  .news-swiper__wrapper {
    margin-bottom: 24px;

    @media (min-width: $vp-tablet) {
      margin-bottom: 30px;
    }

    @media (min-width: $vp-desktop) {
      margin-bottom: 40px;
      height: 100%;
    }
  }

  .news-swiper__slide.swiper-slide {
    display: grid;
    grid-auto-rows: minmax(330px, auto) minmax(240px, auto);
    row-gap: 20px;
    height: 590px;

    @media (min-width: $vp-tablet) {
      grid-auto-rows: minmax(350px, auto) minmax(350px, auto);
      grid-template-columns: 1fr 1fr;
      gap: 30px;
      height: 730px;
    }

    @media (min-width: $vp-desktop) {
      display: block;
      width: 286px;
      height: 400px;
      transition: width 0.3s ease;
    }
  }

  .news-swiper__slide:nth-child(3n - 2) {
    @media (min-width: $vp-desktop) {
      width: 604px;
    }
  }
}

.news-swiper__slide:nth-child(2n) {
  @media (min-width: $vp-desktop) {
    max-height: 400px;
    min-height: auto;
  }
}

.news-swiper__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.news-swiper__bullet {
  padding: 0;
  min-width: 26px;
  min-height: 26px;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 20px;
  opacity: 0.6;
  border: 2px solid $color-transparent;
  background-color: $color-bg-primary;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease-in-out, opacity 0.3s ease;

  @media (min-width: $vp-tablet) {
    min-width: 32px;
    min-height: 32px;
  }

  @media (hover: hover) {
    &:hover {
      border-color: $color-base-secondary;
      opacity: 1;
    }
  }

  &:active {
    color: $color-white;
    border-color: $color-state-active;
    background-color: $color-state-active;
  }

  &:focus-visible:not(.news-swiper__bullet--active) {
    outline: none;
    border-color: $color-base-secondary;
    background-color: $color-white;
    opacity: 1;
  }

  &:disabled {
    border-color: rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
    pointer-events: none;
  }
}

.news-swiper__bullet--active {
  background-color: $color-base-secondary;
  color: $color-white;
  opacity: 1;
}
