.programs-slider__swiper.swiper {

  .programs-slider__slide {
    @include overlay($color-overlay-photo);
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 18px 10px;
    width: 290px;
    min-height: 400px;
    border-radius: 12px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media(min-width: $vp-tablet) {
      min-width: 324px;
      max-width: 324px;
      min-height: 420px;
      padding: 10px 20px;
    }

    @media(min-width: $vp-desktop) {
      width: 392px;
      min-width: auto;
      max-width: none;
      padding: 17px 51px 18px 20px;
    }
  }
}

.programs-slider__slide--1 {
  background-image: image-set(url('../../img/programs/programs-1-mob@1x.webp') type('image/webp') 1x,
      url('../../img/programs/programs-1-mob@2x.webp') type('image/webp') 2x,
      url('../../img/programs/programs-1-mob@1x.jpg') type('image/jpeg') 1x,
      url('../../img/programs/programs-1-mob@2x.jpg') type('image/jpeg') 2x);


  @media (min-width: $vp-tablet) {
    background-image: image-set(url('../../img/programs/programs-1-tablet@1x.webp') type('image/webp') 1x,
        url('../../img/programs/programs-1-tablet@2x.webp') type('image/webp') 2x,
        url('../../img/programs/programs-1-tablet@1x.jpg') type('image/jpeg') 1x,
        url('../../img/programs/programs-1-tablet@2x.jpg') type('image/jpeg') 2x);
  }

  @media (min-width: $vp-desktop) {
    background-image: image-set(url('../../img/programs/programs-1-desk@1x.webp') type('image/webp') 1x,
        url('../../img/programs/programs-1-desk@2x.webp') type('image/webp') 2x,
        url('../../img/programs/programs-1-desk@1x.jpg') type('image/jpeg') 1x,
        url('../../img/programs/programs-1-desk@2x.jpg') type('image/jpeg') 2x);
  }
}

.programs-slider__slide--2 {
  background-image: image-set(url('../../img/programs/programs-2-mob@1x.webp') type('image/webp') 1x,
      url('../../img/programs/programs-2-mob@2x.webp') type('image/webp') 2x,
      url('../../img/programs/programs-2-mob@1x.jpg') type('image/jpeg') 1x,
      url('../../img/programs/programs-2-mob@2x.jpg') type('image/jpeg') 2x);

  @media (min-width: $vp-tablet) {
    background-image: image-set(url('../../img/programs/programs-2-tablet@1x.webp') type('image/webp') 1x,
        url('../../img/programs/programs-2-tablet@2x.webp') type('image/webp') 2x,
        url('../../img/programs/programs-2-tablet@1x.jpg') type('image/jpeg') 1x,
        url('../../img/programs/programs-2-tablet@2x.jpg') type('image/jpeg') 2x);
  }

  @media (min-width: $vp-desktop) {
    background-image: image-set(url('../../img/programs/programs-2-desk@1x.webp') type('image/webp') 1x,
        url('../../img/programs/programs-2-desk@2x.webp') type('image/webp') 2x,
        url('../../img/programs/programs-2-desk@1x.jpg') type('image/jpeg') 1x,
        url('../../img/programs/programs-2-desk@2x.jpg') type('image/jpeg') 2x);
  }
}

.programs-slider__slide--3 {
  background-image: image-set(url('../../img/programs/programs-3-mob@1x.webp') type('image/webp') 1x,
      url('../../img/programs/programs-3-mob@2x.webp') type('image/webp') 2x,
      url('../../img/programs/programs-3-mob@1x.jpg') type('image/jpeg') 1x,
      url('../../img/programs/programs-3-mob@2x.jpg') type('image/jpeg') 2x);

  @media (min-width: $vp-tablet) {
    background-image: image-set(url('../../img/programs/programs-3-tablet@1x.webp') type('image/webp') 1x,
        url('../../img/programs/programs-3-tablet@2x.webp') type('image/webp') 2x,
        url('../../img/programs/programs-3-tablet@1x.jpg') type('image/jpeg') 1x,
        url('../../img/programs/programs-3-tablet@2x.jpg') type('image/jpeg') 2x);
  }


  @media (min-width: $vp-desktop) {
    background-image: image-set(url('../../img/programs/programs-3-desk@1x.webp') type('image/webp') 1x,
        url('../../img/programs/programs-3-desk@2x.webp') type('image/webp') 2x,
        url('../../img/programs/programs-3-desk@1x.jpg') type('image/jpeg') 1x,
        url('../../img/programs/programs-3-desk@2x.jpg') type('image/jpeg') 2x);
  }
}

.programs-slider__content {
  position: relative;
  z-index: 20;
  border-radius: 12px;
  overflow: hidden;
  width: 100%;

  @media(min-width: $vp-desktop) {
    display: flex;
    flex-direction: column;
    min-height: 122px;
  }

  p {
    margin: 0;
    font-size: 12px;
    line-height: 14px;
    color: $color-base-primary;

    @media(min-width: $vp-tablet) {
      font-size: 14px;
      line-height: 20px;
    }

    @media(min-width: $vp-desktop) {
      line-height: 18px;
    }
  }
}

.programs-slider__title-wrap {
  @include corner-deco(18px, 18px, -18px, $color-white );
  border-radius: 0 12px 0 0;
  width: 54%;
  padding: 18px 2px 6px 18px;
  background-color: $color-white;

  @media(min-width: $vp-tablet) {
    width: 60.5%;
  }
}

.programs-slider__content-title {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  overflow-wrap: break-word;
  color: $color-base-secondary;

  @media(min-width: $vp-tablet) {
    font-size: 20px;
    line-height: 14px;
  }

  @media(min-width: $vp-desktop) {
    font-size: 24px;
    line-height: 17px;
  }
}

.programs-slider__content-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 16px;
  padding: 12px 18px 15px 18px;
  flex-grow: 1;
  border-radius: 0 12px 0 0;
  background-color: $color-white;
}

.programs-slider__content-link {
  flex-shrink: 0;
}
