*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

.page-body {
  @include flex-column(stretch);

  min-height: 100%;
  margin: 0;
  min-width: 320px;
  font-family: $ff-primary;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: $color-base-primary;
  background: linear-gradient(0deg, $color-bg-primary 0%, $color-bg-primary 100%), $color-white;


  @media (min-width: $vp-tablet) {
    font-size: 16px;
    line-height: 24px;
  }
}

.main {
  flex-grow: 1;
}
